<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgoshop.mapper.SmsCouponProductCategoryRelationMapper">
    <resultMap id="BaseResultMap" type="com.lgoshop.model.SmsCouponProductCategoryRelation"><id column="id" property="id"/></resultMap>
</mapper>
